body, td {
  background-color: rgb(13, 17, 23);
  color: rgb(240, 246, 252);
  /* text-align: center; */
}

img[alt="My Skills"]:hover, img[width="100px"]:hover {
  background-color: rgb(14, 16, 35);
}

/* body, img[alt="My Skills"], div img, td*/
/* table {
    margin-left: 35%;
    margin-right: 25%;
} */
